<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head th:replace="fragments/head.html :: head">

</head>

<body>

<nav th:replace="fragments/head.html :: navigation">

</nav>

<div class="container">
    <div class="row py-2">
        <h1>Статистика</h1>
        <div class="col-12">
            <table class="table table-bordered my-2">
                <tbody>
                <tr>
                    <th>Service</th>
                    <th>Time</th>
                </tr>
                <tr th:each="s: ${stat}">
                    <td th:text="${#strings.substringBefore(s,'##')}"></td>
                    <td th:text="${#strings.substringAfter(s,'##') + ' ms'}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<th:block th:replace="fragments/footer.html :: scripts"/>
</body>
</html>